.btn{
    background: none;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: inherit;
    border-radius: 8px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary{
    color: #fff;
    background: hsl(200, 100%, 50%);
}

.btn--primary:hover{
    background: hsl(200, 100%, 35%);
}

.btn-danger{
    color: #fff;
    background: hsl(0, 100%, 50%);
}

.btn-danger:hover{
    background:hsl(0, 100%, 35%);
}

.btn-add{
    border-radius: 10px;
    box-shadow: 2px 3px 2px 1px rgb(86, 83, 83);
}